.info-left {
  display: flex;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info-right {
  flex: 1;
}

.expand {
  margin: 10px 0;
}

.expand-btn {
  padding: 8px 10px;
  cursor: pointer;
  border: solid 1px #9e9e9e;
  color: #333;
  font-size: 16px;
  border-radius: 4px;
  background: #fff;
}

.single-code a {
  text-decoration: none;
  color: #108ee9;
}

.single-code a:hover {
  text-decoration: underline;
}

.file-created {
  font-size: 16px;
  font-weight: 300;
}

.file-desc {
  font-size: 16px;
}

.info-right ul li {
  display: inline-block;
  margin-left: 5px;
}

.info-right ul {
  text-align: right;
}

.info-right ul li a {
  color: #333;
  font-size: 16px;
}

.info-right ul li a:hover {
  text-decoration: none;
  color: #2196f3;
}

.code-other ul li {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  margin-right: 5px;
  padding-left: 25px;
}

.code-other ul li svg {
  position: absolute;
  background: #959da5;
  color: #fff;
  height: 20px;
  left: 0;
  width: 20px;
  border-radius: 40px;
  padding: 3px;
}

.file-name .privacy {
  border: solid 1px #eee;
  font-size: 13px;
  padding: 1px 5px;
  border-radius: 4px;
  color: #333;
  margin-left: 5px;
}

.nav {
  text-align: center;
}

.nav ul li {
  display: inline-block;
  color: #9e9e9e;
  margin-top: 15px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 26px;
  height: 40px;
  width: 40px;
  line-height: 45px;
}

.single-code {
  position: relative;
}

.tools {
  position: absolute;
  right: 15px;
  opacity: 0;
}

.single-code:hover .tools {
  opacity: 1;
}

.tools ul li {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
  background: #2196f3;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 4px;
}

.code-new .code-new-desc input[name=desc] {
  width: 100%;
}

.code-new input {
  border: solid 1px #9e9e9e;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.code-new .code-new-files {
  margin-top: 15px;
}

.code-new-file {
  border: solid 1px #9e9e9e;
  border-radius: 4px;
  margin-bottom: 15px;
}

.code-new-file-name {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #9e9e9e;
  width: auto;
  align-items: center;
}

.code-file-remove {
  color: #f44336;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

.code-new-code-area {
  background: #fff;
  height: 140px;
}

.code-new-code-area textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  padding: 15px;
}

.code-btn-secret {
  background: #FFEB3B;
}

.code-new-action button.btn-disabled {
  cursor: not-allowed;
  background: #eee;
}

.code-new-action {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.code-new-action div {
  flex: 1;
  text-align: right;
}

.code-new-action button {
  border: solid 1px #9e9e9e;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.code-new-action div button {
  margin-left: 5px;
}
