.head {
  position: relative;
}

.head .tools {
  position: absolute;
  right: 0;
  top: -3px;
  opacity: 1;
}

.head .tools li {
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  padding: 5px;
  border-radius: 40px;
}

.head .tools li:hover {
  background-color: #fff;
}

.head .tools li.pause {
   color: #009688
 }

.head .tools li.remove {
  color: #F44336;
}
