.settings-area .MuiToolbar-regular {
    min-height: 48px;
}

.settings-area .MuiIconButton-root:hover {
    border-radius: 100%;
}

.settings {
    display: flex;
    width: 100%;
    height: 100vh;
}

.settings .content {
    flex: 1;
    margin-top: 45px;
    padding: 15px;
    overflow: auto;
}

.settings .content .btn-reset {
    display: block;
    border: solid 1px #f44336;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 15px;
    text-align: center;
    width: 100%;
    background: #f44336;
    border-radius: 4px;
}

.settings .privacy {
    margin-top: 15px;
    text-align: center;
    color: #b7b7b7;
    text-transform: uppercase;
}

.settings .privacy p {
    font-size: 11px;
}
