header.MuiPaper-root {
  position: fixed;
}

.tab-content {
  padding-top: 45px;
}

.MuiTabs-flexContainer .MuiTab-root {
  min-width: 45px;
}

.MuiTabs-flexContainer .MuiTabs-indicator {
  background-color: #108ee9;
}
