header.MuiPaper-root {
  position: fixed;
  top: 0;
}

.tab-content {
  margin-top: 50px;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.MuiTabs-flexContainer .MuiTab-root {
  min-width: 45px;
}

.MuiTabs-flexContainer .MuiTabs-indicator {
  background-color: #108ee9;
}
