.token-input {
  margin-bottom: 15px;
}

.token-input input,
.token-input button {
  display: block;
  border: solid 1px #9e9e9e;
  font-size: 16px;
  padding: 15px 15px;
  text-align: center;
  width: 100%;
}

.token-input input {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}

.token-input button {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.token-input button.disabled {
  cursor: not-allowed;
}
