* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

body {
  background-color: #eee;
}

.header {
  background-color: #333;
  padding: 0 50px;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.header .nav .brand {
  display: flex;
  align-items: center;
}

.header .nav .brand img {
  width: 50px;
}

.header .nav .brand p {
  margin: 0;
  color: #eee;
  margin-left: 15px;
  font-weight: bolder;
  font-size: 28px;
}

.header .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 560px;
}

.header .intro > * {
  flex: 1;
  text-align: center;
}

.header .intro .img img {
  width: 420px;
}

.header .meta {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.features {
  padding: 100px 50px;
  color: #333;
}

.features .feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.features .feature.reverse {
  flex-direction: row-reverse;
}

.features .feature > * {
  flex: 1;
  text-align: center;
}

.features .feature .ui img {
  width: 320px;
}

.features .feature .description {
  /* align-self: flex-start; */
  text-align: left;
  padding-right: 50px;
}

.features .feature.reverse .description {
  padding-right: 0;
  padding-left: 50px;
}

.features .feature .description h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.features .feature .description ul {
  margin-top: 15px;
  padding-left: 25px;
  list-style: disc;
}

.features .feature .description ul li {
  padding: 5px 0;
}

.footer {
  background-color: #333;
  padding: 25px 50px;
  display: flex;
  color: #eee;
  justify-content: space-between;
}

.footer ul {
  display: flex;
}

.footer ul li {
  margin-right: 15px;
}

.footer span {
  color: #f44336;
}

.footer a {
  color: #333;
  font-weight: bolder;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  padding: 0 5px;
  border-radius: 4px;
}
