@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

p {
  font-size: 18px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.container {
  margin: 25px;
}

.settings-area h3 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 28px;
}

.settings-area ul li {
  margin-bottom: 15px;
}

.settings-area ul li h4 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 5px;
}

.settings-area ul li input {
  border: solid 2px #BDBDBD;
  padding: 5px;
  font-size: 18px;
  font-weight: 300;
}

.settings-area ul li button {
  background: #BDBDBD;
  border: none;
  font-size: 18px;
  padding: 7px 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
}

.settings-area ul li p {
  font-size: 11px;
  color: #333;
}

.settings-area ul li p.message {
  color: #F44336;
  opacity: 1;
}

.settings-area ul li p.success-message {
  color: #4CAF50;
}

.settings-area ul li p.hide {
  display: none;
}
